<div class="wrapper" >
    <!-- Top navigation -->
    <!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0">
        <img class="brand-logo" src="assets/logo-positronx-white.svg" alt="positronX.io Logo">
        </a>
    </nav> -->
    <!-- Sidebar navigation -->
    <div class="container-fluid">
        <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
            <ul class="nav flex-column">
                <li class="nav-item">
                <a class="nav-link active">
                    <i class="fas fa-user"></i>User Profile
                </a>
                </li>
                <!-- Calling SignOut() Api from AuthService -->
                <li class="nav-item">
                <a class="nav-link" (click)="authService.SignOut()">
                    <i class="fas fa-sign-out-alt"></i>Log out
                </a>
                </li>
            </ul>
            </div>
        </nav>
        <!-- Main content -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="inner-adjust">
            <div class="pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">User Profile</h1>
            </div>
            <!-- Show user data when logged in -->
            <div class="row" *ngIf="authService.userData as user">
                <div class="col-md-12">
                    <div class="media">
                        <img class="align-self-start mr-5 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-user.png'}}"
                        alt="{{user.displayName}}">
                        <div class="media-body">
                        <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                        <p>User ID: <strong>{{user.uid}}</strong></p>
                        <p>Email: <strong>{{user.email}}</strong></p>
                        <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
                        <p>Email Verified: <strong>{{member?.email}}
                            {{authService.member}}
                            {{member?.expires}}</strong></p>
                        </div>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </main>
        </div>
    </div>
</div>



<div class="m-4 ">
    <ul class="nav nav-pills " id="myTab">
        <li class="nav-item">
            <a href="#profile" class="nav-link active" data-bs-toggle="tab">Profile</a>
        </li>
        <!-- <li class="nav-item">
            <a href="#home" class="nav-link " data-bs-toggle="tab">Home</a>
        </li> -->
        <li class="nav-item">
            <a href="#orderHistory" class="nav-link" data-bs-toggle="tab">Order History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
                Log out
            </a>
        </li>
    </ul>
    <div class="tab-content shadow-lg ">
        <div class="tab-pane active" id="profile">
            <h4 class="mt-2">Profile tab content</h4>
            <app-profile></app-profile>
            <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
        </div>
        <div class="tab-pane fade" id="orderHistory">
            <h4 class="mt-2">Messages tab content</h4>
            <app-cartmember></app-cartmember>
            <p>Donec vel placerat quam, ut euismod risus. Sed a mi suscipit, elementum sem a, hendrerit velit. Donec at erat magna. Sed dignissim orci nec eleifend egestas. Donec eget mi consequat massa vestibulum laoreet. Mauris et ultrices nulla, malesuada volutpat ante. Fusce ut orci lorem. Donec molestie libero in tempus imperdiet. Cum sociis natoque penatibus et magnis.</p>
        </div>
    </div>
</div>