<div class="wrapper" >
    
    <div class="hero-wrap" style="background-image: url('./../../../../assets/images/stocks/kbp-2022.png'); filter: grayscale(100%) opacity(50%) " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span>/ &nbsp;<span style="text-transform: lowercase;" >Saraswati Puja</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Kobi Pronam</h1>
            </div>
        </div>
        </div>
    </div>

   
  

    

    <section class="ftco-section">
      <div class="container">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Kobi Pronam</h3>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <p>
                    Mercer Middle School<br />
                    42149 Greenstone Dr, <br /> Aldie, VA 20105,<br /><br /> 
                Timings: <br /> 
                    June 10th -  7 pm to 10 pm. <br>
                </p>
                <!-- <img class="col-md-6 text-center"  src="./../../../../assets/images/stocks/2023/SP-Artist-2023.jpg " > -->
              </div>
          </div>
      </div>
    </section>      
    
    <section class="ftco-section bg-light ">
      <div class="container mb-5">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Bhuri Bhoj</h3>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <p class="col-md-12 flex-center">
                  Keeping up with our tradition of providing the best authentic food, Chicken Biryani and Veg biryani for Dinner !! <br/>

                <img class="col-md-6 text-center"  src="./../../../../assets/images/stocks/kp-chickenbiryani.jpg " >
                <img class="col-md-6 text-center"  src="./../../../../assets/images/stocks/kp-vegbiryani.jpg " >
              </div>
          </div>
      </div>
    </section> 


    <section class="ftco-section ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 flex ftco-animate">
                    <app-foodtickets></app-foodtickets>
                </div>    
            </div>
        </div>
    </section>            

 

</div>
