<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">

      

    <a class="navbar-brand" href="index.html">NVBA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav"> 
 
        <ul  class="navbar-nav ml-auto "> 
          
            <li *ngFor="let item of dataObject " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item" [ngClass]="item.child ? 'dropmenu':'' "  >
            
              <a routerLink="{{item.pageLink}}" class="nav-link">{{item.pageName}}</a>
  
              <ul *ngIf="item.child" class="dropmenu-content "   >
                <div *ngFor="let itemChild of item.child; let i = index ">
                  <li > <a routerLink="{{itemChild.pageLink}}" >{{itemChild.pageName}}</a></li>
                </div>
               
              </ul>
            
            </li>
         
          
          
          <!-- <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
          <li class="nav-item"><a href="causes.html" class="nav-link">Causes</a></li>
          <li class="nav-item"><a href="donate.html" class="nav-link">Donate</a></li>
          <li class="nav-item dropmenu"><a href="blog.html" class="nav-link ">Blog</a>
            <ul class="dropmenu-content ">
              <li ><a href="about.html"  >About</a></li>
              <li ><a href="about.html" >About</a></li>
            </ul>
          </li>
          <li class="nav-item"><a href="gallery.html" class="nav-link">Gallery</a></li>
          <li class="nav-item"><a href="event.html" class="nav-link">Events</a></li>
          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li> -->
        </ul> 
      </div>  
    </div>
  </nav>
    <!-- END nav -->
      
