<div class="wrapper" >
    
    <div class="hero-wrap" style="background-image: url('./../../../../assets/images/stocks/saraswati-kumar.jpg'); filter: grayscale(100%) opacity(50%) " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span>/ &nbsp;<span style="text-transform: lowercase;" >Saraswati Puja</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Our Saraswati Puja</h1>
            </div>
        </div>
        </div>   
    </div>

    <!-- <section>
      <div class="container mb-3">  
        <!- <div class="row d-flex mb-3"> 
          <div class="flex-center text-center mt-3 ">
            <h3 class="text-center">মহালয়া | Mahalaya (Mahishasura Mardini) | Birendra Krishna Bhadra</h3>
          </div>
          <audio controls autoplay play onload="play" >
            <source src="https://dhrubajyoti.com/nvba/media/mahalaya.mp3" type="audio/mpeg">
          Your browser does not support the audio element. 
          </audio> 
        </div> ->
        <div class="row d-flex mb-3"> 
          <div class="flex-center text-center mt-3 ">
            <h3 class="text-center">NVBA Saraswati Puja 2023 - Some clips</h3>
          </div>
          
          <div class="flex-center text-center mt-3 table ">
            <!- <div>Sign up sheets for,</div> ->
            <div class="row flex-center text-center m-1 "  >
              <iframe style=" height:375px; width: 100%; margin: auto; " src="https://www.youtube.com/embed/W4vxbDyjQds" title="2023 NVBA Saraswati Puja Celebrations" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="row flex-center text-center m-1 "  >
              <iframe style=" height:375px; width: 100%; margin: auto; " src="https://www.youtube.com/embed/2toMb5DLDws" title="NVBA Saraswati Puja - Cultural Programs - 2023" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>  
            
          </div>
        </div>
      </div>
    </section> -->

    <section>
        <div class="container mb-3">
          <!-- <div class="row d-flex mb-3"> 
            <div class="flex-center text-center mt-3 ">
              <h3 class="text-center">মহালয়া | Mahalaya (Mahishasura Mardini) | Birendra Krishna Bhadra</h3>
            </div>
            <audio controls autoplay play onload="play" >
              <source src="https://dhrubajyoti.com/nvba/media/mahalaya.mp3" type="audio/mpeg">
            Your browser does not support the audio element. 
            </audio> 
          </div> -->
          <div class="row d-flex mb-3"> 
            <div class="flex-center text-center mt-3 ">
              <h3 class="text-center">NVBA Saraswati Puja 2024 - Lots of activities planned</h3>
            </div>
            <div>
              <p class=" text-center ">
                We suspend our online tickets purchase. Due to overwhelming response of our Members. <br />
                Sorry for the inconvenience.
              </p>
                <!-- <div class="flex-center mb-1">
                  <button class="btn-get-started w-100 mb-3 mt-2" routerLink="/tickets" >Tickets for Saraswati Puja</button>             
                </div>  -->
            </div>
            <!-- <div>
              <div class="flex-center mb-1">
                <button class="btn-get-started red w-100 mb-3 mt-2" style="background-image: url(./../../../assets/images/stocks/2023/SP-Artist-2023-b.jpg);" routerLink="/concert"   >Tickets only for Sham-e-Ghazal</button>             
              </div> 
            </div>
            <div>
              <div class="flex-center mb-3">
                <button class="btn-get-started btn-get-blue w-100 mb-3 mt-2"  routerLink="/concert" >Tickets for Guests</button>             
              </div> 
            </div> -->
            <div class="flex-center text-center mt-3 table ">
              <div>Sign up sheets for,</div>
              <div class="row flex-center text-center m-1 "  >
                <table class=" borderless col-md-6 " style=" margin:0 auto" id="activities"  >
                  <tr>
                    <td>
                      Haate Khori 
                    </td>
                    <td>
                      <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLScMecP0JlBKkPPa0W70iwJd_NTIZICfjrDrbA_DTYM5FyU5eg/viewform" target="_blank" > Click for register </a>  -->
                      <p>
                        Parents interested in arranging Hate Khori for their children, kindly complete the form.
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cultural Program Participation:
                    </td>
                    <td>
                      Registration for this event has been closed.
                      <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSdJoUHQNyNoA9-sunpk2pCjEU01YcaSbjwok_ihNmxUeOP5BA/viewform" target="_blank" > Click for register </a> -->
                      <br />Cultural Program Participation will be held during noon/afternoon/evening time in the same school area. 
                      <!-- Keep an ear out for announcement in the Pujo Hall!! -->
                      <!-- <br />Age Limit: 5yrs - 18yrs (Elementary/Middle/High School Students)
                      <br />Timing: Before Lunch -->
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>
                        Quiz Competition:
                    </td>
                    <td>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeey7Gnh4wJDC0FFnCnzT8DQWZh9mcwm8nTE2Q-XOjT3U0fog/viewform" target="_blank" > Click for register </a>
                        <br />Quiz Competition will be held during noon/afternoon time in the same school area. Keep an ear out for announcement in the Pujo Hall!!
                        <br />Age Limit: 10yrs and above
                        <br />Timing: After Lunch
                    </td>
                  </tr> -->
                  <tr>
                    <td>
                      Art Competition:
                    </td>
                    <td>
                       <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSdnAOZ3_mxy9GUxeq0FTHLQwNY5VjYr7jKFIDyfolGBi6q-Hw/viewform" target="_blank" > Click for register </a>  -->
                       <p>The art competition is set for noon in the school cafeteia. Listen for announcements in the Pujo Hall! Participants must be between 5 and 18 years old (Elementary/Middle/High School Students).</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        Carrom Competetion:
                    </td>
                    <td>
                       <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSeclSph3l6-OFuq3MHD7lWO3Y7scRNhJBxIcd0I4dBhVX1sog/viewform" target="_blank">Click for register</a>   -->
                        <p>
                          Registration for this event has been closed.<br />
                          The Carrom Competition is scheduled for the afternoon (After lunch) in the school cafeteria. Stay tuned for announcements in the Pujo Hall! 
                        </p>
                    </td>
                  </tr>
                </table>
              </div>
              
            </div>
            <div class="col-md-8  " style="margin: 0 auto 10px auto; border-bottom: 1px solid #ccc;" >
              <img class="col-md-12 text-center"  src="./../../../../assets/images/stocks/2024/events.jpg" >
            </div>
            <div class="col-md-8  " style="margin: 10px auto;">
              <h3 class="mb-4 orange ">Sponsorship options are available for Art competition, Carrom competition, Raffle, and Band Imon </h3>
                      <div class="" >
                        <table class=" borderless col-md-6 " style=" margin:0 auto" id="activities"  >
                          <tr>
                            <td class="">
                             <h5>Carrom Competition: $150</h5> 
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h5>Art Competition: $150</h5>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h5>Raffle: $150</h5>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h5>Band Imon: $500</h5>
                            </td>
                          </tr>
                          <tr>
                            <td>
                             <h6> Please reach out to <a href="mailto:public_relations@novaba.org">public_relations@novaba.org</a>  for more information.</h6>
                            </td>
                          </tr>
                        </table>
                      </div>
            </div>
          </div>
        </div>
      </section>
  

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 flex ftco-animate align-items-center ">
                    <h2 class="mb-4 ">Venue:  </h2>
                      <div class="" >
                        <p>
                            Mercer Middle School<br />
                            42149 Greenstone Dr, <br /> Aldie, VA 20105,<br /><br /> 
                        Timings: <br /> 
                            February 10th -  11 am to 10 pm. <br>
                        </p>
                      </div>
      
                </div>
                <div class="col-md-6 flex ftco-animate" >
                    <h2 class="mb-4 ">Timeline (Tentative):  </h2>
                      <div class="" >
                        <p>
                            Pujo: 10am -1pm (Pushpanjali: 12.30pm)
                            <br />Art Competition: 12pm - 1pm
                            <br />Lunch: 1pm- 3pm 
                            <br />Carrom: 3pm - 5.30pm
                            <br />Local Cultural: 3 pm - 6 pm 
                            <br />Bisorjon: 6pm- 6.30pm
                            <br />Dinner: 6:30pm - 8pm
                            <br />External Artist: 8:30 pm onwards
                            <br />
                            <!-- <br />People who are interested in giving Hate Khori, please reply back to us with details. -->
                        </p> 
                      </div>
                    <!-- <p>
                        More details will be shared in the coming days!!
                    </p> -->
                </div>
        
            </div>

        </div>
    </section>

    <section class="ftco-section">
      <div class="container">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Rangamancha</h3>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <p class="col-md-12 flex-center">
                  This year, we have curated a lively Saraswati Puja celebration brimming with devotional rituals, cultural performances, and engaging activities suitable for all ages. You can look forward to captivating performances by our talented local artists, showcasing a diverse range of songs, dances, recitations, and instrumental pieces. 
                </p>
                <p>
                  Enhancing the cultural tapestry of our event, we're excited to introduce a captivating dance drama "Kaljoyi Rabindranath" by Ta Thoi. Inspired by three of Tagore's acclaimed works (Chandalika, Chitrangada, and Tasher Desh), each resonating with significant social themes, this performance promises to be a highlight of our local cultural segment.
                </p>
                <p>
                  As the evening unfolds, prepare to be mesmerized by the electrifying performance of Band Imon from New York, adding an extra spark of excitement to our festivities. Imon focuses on a varied range of music starting from Indian classical, to Bollywood, to Western Pop, and Rock songs, occasionally fusing different musical forms to bring the best of both worlds.
                </p>
                <img class="col-md-12 text-center"  src="./../../../../assets/images/stocks/2024/artist.jpg" >
              </div>
          </div>
      </div>
    </section>      
    
    <section class="ftco-section bg-light ">
      <div class="container mb-5">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Bhuri Bhoj</h3>
              </div>
              <!-- <p>Food List Comming Soon</p> -->
              <p>Keeping up with our tradition of providing the best authentic food, We are also planning to have a scrumptious menu for Lunch and Dinner as well</p>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <!-- <p class="col-md-12 flex-center">
                  Keeping up with our tradition of providing the best authentic food, We are also planning to have a scrumptious menu for Lunch and Dinner as well:<br />
<b> Lunch Menu:</b> Khichuri Bhog, Motorshuti diye Bandhakopi, Beguni, Amsatto & Tomato Chutney, Chaler payesh !! <br/>

<b>Dinner Menu:</b> Rice, Muger daal, Alu phulkopi, Illish bhapa, Mix-fruit chutney, Rosogolla !!
                </p> -->
                <img class="col-md-12 text-center"  src="./../../../../assets/images/stocks/2024/food-sp.jpg" >
              </div>
          </div>
      </div>
    </section> 
    <app-sponsers></app-sponsers>

    <!-- <section class="ftco-section ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 flex ftco-animate">
                    <app-cartmember></app-cartmember>
                </div>    
            </div>
        </div>
    </section>             -->

 

</div>
