<div class="wrapper" >
    
    <!-- <div class="hero-wrap" style="background-image: url('./../../../../assets/images/gallery/dp/durgapuja-2022-1.jpg'); filter: grayscale(0%) opacity(80%) " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span>/ &nbsp;<span style="text-transform: lowercase;" >concert</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Our Event</h1>
            </div>
        </div>
        </div>
    </div> -->



    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row text-center ">
                <h1>Saraswati Puja - 2024 - Early Bird Tickets </h1>
            </div>


                <div id="earlyBirdWithoutcul" class="table-responsive mb-5 tickets">

                    <p  class="warningText "  >
                        &ast; Students are required to show Student Identification Card.
                    </p> 
                
                    <p class=" mt-3">
                        <span >Note:- Tickets include Pujo, access to all events, cultural programs along with both Lunch and Dinner !. <br /></span>
                    <button class="btn-small rounded btn-warning float-right mr-2 mb-2" (click)="clearCart()" >Clear Order</button>
                    </p>
                    <table class="table table-bordered table-hover" >
                        <thead>
                        <tr>
                            <th scope="col"  >Items</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Quantity</th>
                            <!-- <th scope="col">Add</th> -->
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let item of dataObject; index as i" >
                        
                        <tr *ngIf="i < 7">
                            <th><div class="smallOrangeHeader">{{item.name}}</div>{{item.description}}</th>
                            <td>$ {{item.price}}</td>
                            <td><input type="number" [(ngModel)]="item.quantity" style="width:50px" min="0" max="10" ></td>
                            <!-- <td> <button class="btn btn-warning" (click)="addToCartobj(item)" >Add to Cart</button></td> -->
                            <td  >$ {{item.price * item.quantity}}</td>
                        </tr>
                        </tbody>
                        
                        <thead>
                            <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col" ><div class="d-flex justify-content-end">Total</div></th>
                            <!-- <th scope="col">Add</th> -->
                            <th  scope="col">$ {{totalCost}}</th> 
                            </tr>
                        </thead>
                    </table>
        
                    <div class="float-right mb-3 mr-3" >
                        <span class=" red " *ngIf="!addtoCartBtn"  >Please decrease concert headcount.</span>
                        <button [disabled]="addtoCartBtn === false" class="btn btn-warning" (click)="addToCartobj()" >Add to Cart</button>
                    </div>
                
                
                    <!-- <div>
                        {{ dataObject | json }}
                    </div> -->
                    
                </div>
                



        </div>
    </section>

</div>
