<div class="wrapper" >
    
        
    <div class="container p-3 pt-5" >
        <div class="row no-gutters  align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> / <span>agm</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Annual General Meeting (AGM)</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex pb-5 pt-3 ">
            <div class="col-lg-12 p-4 center ">
                        <h4 class="w-100 flex-center text-center mb-3 "> Northern Virginia Bengali Association (NVBA) Annual General Meeting (AGM) - 2022 </h4>
    
                        <p style="font-size: 1.2em; justify-content: center; display: flex; ">
                            Date:  April 7th, 2024 - Sunday<br>
                            Venue: Chantilly Regional Library Meeting Room  <br>
                            Time: 3:00 PM to 6:00 PM.<br>
                        </p>
            </div>
            <div class="col-md-4 p-4" style="margin: 0 auto ;" >
                       <p>
                        NVBA Patrons,</p>
                        <p  >
                            All NVBA community members are cordially invited to join the AGM in person to support the outgoing EC and incoming EC. </p>
<p>
Your participation is highly appreciated.
                       </p>
    
            </div>
        </div>
    </div>    

</div>    


<section class="ftco-section">  
    <div class="container">
        <div class="row d-flex pb-5 pt-3 ">
            <div class="col-lg-12 p-4 center ">
                        
                        <div class=" flex-center text-center " >
                            <h2>Recording of NVBA-AGM-2023-24 </h2>
                        </div>                            
                        <div class=" flex-center flex text-center  "  >
                            <iframe style="width: 100%; max-width: 520px; margin-top: 10px;" height="315" src="https://www.youtube.com/embed/tohvTX5XsCg?si=JZ69eVbDqEQ9mUcS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        
 
    
            </div>
        </div>
    </div>
</section>   


<section class="ftco-section bg-light">  
    <div class="container">
        <div class="row d-flex pb-5 pt-3 ">
            <div class="col-lg-12 p-4 center ">
                        
                        <div class=" flex-center text-center " >
                            <h2>Recording of NVBA-AGM-2022 </h2>
                        </div>                            
                        <div class=" flex-center flex text-center  "  >
                            <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fnovaba%2Fvideos%2F1498074610691457%2F&width=500&show_text=true&appId=620891725211414&height=347" width="500" height="347" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                        </div>

                        
 
    
            </div>
        </div>
    </div>
</section>        

<section class="ftco-section">  
    <div class="container">
        <div class="row d-flex pb-5 pt-3 ">
            <div class="col-lg-12 p-4 center ">
                        
                        <div class=" flex-center text-center " >
                            <h2>Recording of NVBA-AGM-2021 </h2>
                        </div>                            
                        <div class=" flex-center flex text-center  "  >
                            <iframe style="width: 100%; max-width: 520px; margin-top: 10px;" height="315" src="https://www.youtube.com/embed/ZBR_A6Shhd4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        
 
    
            </div>
        </div>
    </div>
</section>   