<div class="wrapper" >
    
        
    <div class="container p-3 pt-5" >
        <div class="row no-gutters  align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> / <span>agm</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Annual General Meeting (AGM)</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex pb-5 pt-3 ">
            <div class="col-lg-12 p-4 center ">
                        <h4 class="w-100 flex-center text-center mb-3 "> Northern Virginia Bengali Association (NVBA) Annual General Meeting (AGM) - 2022 </h4>
    
                        <p style="font-size: 1.2em; justify-content: center; display: flex; ">
                            Date:  December 3th, 2022 - Saturday<br>
                            Venue: Chantilly Regional Library Meeting Room  <br>
                            Time: 4:00 PM to 6:00 PM.<br>
                        </p>
            </div>
            <div class="col-md-4 p-4" style="margin: 0 auto ;" >
                       <p>
                        NVBA Patrons,</p>
                        <p  >
The Executive Committee is pleased to extend invitation to all community members for the NVBA Annual General Meeting to be held on December 3rd, 2022 and will be followed by a Q&A session for members to interact and provide direct inputs to the committee.
</p>
<p>
Your participation is highly appreciated.
                       </p>
    
            </div>
        </div>
    </div>    

</div>    

<section class="ftco-section bg-light">  
    <div class="container">
        <div class="row d-flex pb-5 pt-3 ">
            <div class="col-lg-12 p-4 center ">
                        
                        <div class=" flex-center text-center " >
                            <h2>Recording of NVBA-AGM-2021 </h2>
                        </div>                            
                        <div class=" flex-center flex text-center  "  >
                            <iframe style="width: 100%; max-width: 520px; margin-top: 10px;" height="315" src="https://www.youtube.com/embed/ZBR_A6Shhd4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        
 
    
            </div>
        </div>
    </div>
</section>        