<section class="ftco-section">
    <div class="container">
      <div class="container p-3 mt-5" >
          <div class="row no-gutters  align-items-center justify-content-center" data-scrollax-parent="true">
              <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
              <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a routerLink="/home">Home</a></span> / <span class="breadcrumbs" >magazines</span></p>
              <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">NVBA Yearly Magazines</h1>
              </div>
          </div>
      </div>

        

        <div class="row">

            <div class="d-flex  flex-column col-lg-12 ">
            
                <div class=" flex-center text-center  mt-3 " >
                  <div class="section-title m-2">NVBA MAGAZINE 2021</div>
                  <a href="https://online.fliphtml5.com/opzuy/xqim/" target="_blank" >
                      <img src="assets/images/stocks/mag2021.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                  </a>
                </div>
    
    
                <div class="row mt-4 " >
    
                  <div class="col-md-6 text-center">
                    <div class=" flex-center align-items-center flex-column mt-3 " >
                      <div class="section-title m-2">NVBA MAGAZINE 2020</div>
                      <a href="https://online.fliphtml5.com/opzuy/tgub/" target="_blank" >
                          <img src="assets/images/stocks/mag2020.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div class=" flex-center align-items-center flex-column mt-3 " >
                      <div class="section-title m-2">NVBA MAGAZINE 2019</div>
                      <a href="https://online.fliphtml5.com/opzuy/qotx/" target="_blank" >
                          <img src="assets/images/stocks/mag2019.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                      </a>
                    </div>
                  </div>
                    
                </div>
    
    
                <div class="row mt-4" >
                  <div class="col-md-6 text-center">
                    <div class=" flex-center align-items-center flex-column mt-3 " >
                      <div class="section-title m-2">NVBA MAGAZINE 2018</div>
                      <a href="https://online.fliphtml5.com/opzuy/psdr/" target="_blank" >
                          <img src="assets/images/stocks/mag2018.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div class=" flex-center align-items-center flex-column mt-3 " >
                      <div class="section-title m-2">NVBA MAGAZINE 2017</div>
                      <a href="https://online.fliphtml5.com/opzuy/ycgt/" target="_blank" >
                          <img src="assets/images/stocks/mag2017.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                      </a>
                    </div>
                  </div>
                </div>
    
                <div class="row mt-4" >
                  <div class="col-md-6 text-center ">
                    <div class=" flex-center align-items-center flex-column mt-3 " >
                      <div class="section-title m-2">NVBA MAGAZINE 2016</div>
                      <a href="https://online.fliphtml5.com/opzuy/lqey/" target="_blank" >
                          <img src="assets/images/stocks/mag2016.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                      </a>
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div class=" flex-center align-items-center flex-column mt-3 " >
                      <div class="section-title m-2">NVBA MAGAZINE 2013</div>
                      <a href="https://online.fliphtml5.com/opzuy/yaca/" target="_blank" >
                          <img src="assets/images/stocks/mag2013.png"  class="img-fluid dp" style="max-width: 200px; width: auto;" alt="Responsive image">
                      </a>
                    </div>
                  </div>
                </div>
    
             
    
             
    
           </div>
         </div>

    </div>
</section>            



