<section class="ftco-section sponsers">
    <div class="container">
      <div class="row justify-content-center pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-4">Proud Sponsors</h2>
          <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
        </div>
      </div>
      <div class="row flex-row flex-wrap">
        <div class="col-md-2 " *ngFor="let sponser of sponsers " >

            <div class=" card d-flex shadow mb-2 justify-content-center ftco-animate " style="align-items: center ;"  >
                  <div class="client-logo  text-center justify-content-center p-4 ">
                    <a href="{{sponser.url}}" target="_blank">
                      <img src="{{sponser.image}}" class="img-fluid" alt="{{sponser.name}}"> 
                    </a>
                  </div>
            </div> 
          
        </div>
         



        
      </div>
    </div>
  </section>