
      <section class="ftco-counter ftco-intro" id="section-counter">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-1 align-items-stretch">
              <div class="text">
                  <span>Served Over</span>
                <strong class="number" data-number="1432805">1,432,805</strong>
                <span>Children in the world</span>
                <!-- <span>Children in 190 countries in the world</span> -->
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-2 align-items-stretch">
              <div class="text">
                  <h3 class="mb-4">Donate Money</h3>
                  <p>You can make a big difference.</p>
                  <p><a href="https://www.paypal.com/us/fundraiser/charity/2511674" class="btn btn-white px-3 py-2 mt-2" target="_blank" >Donate Now</a></p>
              </div>
            </div>
          </div>
          <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 color-3 align-items-stretch">
              <div class="text">
                  <h3 class="mb-4">Be a Volunteer</h3>
                  <p>Building a better community through our service.</p>
                  <!-- <p>Even the all-powerful Pointing has no control about the blind texts.</p> -->
                  <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfqv8MpetOStm7ReYSKpYXwXn4BlsZwTEEEwG8D5Qd20NVNnA/viewform" target="_blank" class="btn btn-white px-3 py-2 mt-2">Be A Volunteer</a></p>
              </div>
            </div>
          </div>
            </div>
        </div>
    </section>