<div class=" wrapper ">
    <section id="checkout" class="main-pages "  >
        <div class="container">
            <div class="topLineFix"></div>   
          <div class="section-header">
            <h2>Check Out</h2>
            <h3 style="text-align: center;">
            </h3>
          </div>
    
    
          <div>
              <div class="mb-3"><a (click)="goBack()"  style="color: #ff6500; cursor: pointer; " ><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back</a></div>
                            <div class="table-responsive">
                                <div class="flex-column my-5" *ngIf="!emptyCart"  > 
                                    <div class="flex-center  my-5">Your last order is completed. Cart is empty now. </div> 
                                    <h2 class="flex-center  my-3">Always update your mailing address and phone number in case we need to issue a refund.</h2>
                                    <div class="flex-center ">
                                        <a class="btn-get-started text-center " routerLink="/dashboard" >Membership Details Page</a>
                                    </div>
                                </div> 
                                <table class="table table-hover table-bordered" *ngIf="emptyCart"  >
                                    <thead>
                                    <tr>
                                        <th scope="col">Items</th>
                                        <th scope="col">Cost</th>
                                        <th scope="col">Quantity</th>
                                        <!-- <th scope="col">Add</th> -->
                                        <th scope="col">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let item of cartCheck">
                                        <th><div class="smallOrangeHeader">{{item.name}}</div>{{item.description}}</th>
                                        <td>$ {{item.price}}</td>
                                        <td>{{ item.quantity}}</td>
                                        <!-- <td> <button class="btn btn-warning" (click)="addToCartobj(item)" >Add to Cart</button></td> -->
                                        <td  >$ {{item.price * item.quantity}}</td>
                                    </tr>
                                    </tbody>
                                    <thead>
                                        <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col">Total</th>
                                        <th scope="col">$ {{subtotal}}</th> 
                                        </tr>
                                    </thead>
                                </table>
                                <!-- <div class="float-right"><button class="btn btn-warning"  >Add to Cart</button></div> -->
                                <!-- <div>
                                    {{ cartCheck | json }}
                                </div> -->
                                <div class="  my-5 col-md-4  float-end " >
                                    <div class="d-flex justify-content-end mb-5" *ngIf="emptyCart" >
                                        <div id="paypal-button-container"></div>
                                    </div>
                                </div>
                                
                                
                                
                            </div>
            
          </div>
    
    
        </div> 
    </section>     
    
    

</div>
