<div class="wrapper" >


    <div class="hero-wrap" style="background-image: url('./../../../../assets/images/gallery/dp/durgapuja-2022-2.jpg'); filter: grayscale(100%) opacity(50%) " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a routerLink="/home">Home</a></span> <span>Durga Puja</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">NVBA Sarbojanin Durga Utsav</h1>
            </div>
        </div>
        </div>
    </div>



 <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"  >
    <div class="carousel-inner"   >
      
       <div class="carousel-item" *ngFor="let itemhi of sliderImage; let i = index" [ngClass]=" i === 0 ? 'active':'' " >
        <img class="d-block w-100" src="{{itemhi.imageLink}}" alt="First slide"  >
      </div> 
  
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> -->



    <section class="ftco-section">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex ftco-animate">
    				<div class="img img-about align-self-stretch" style="background-image: url(images/bg_3.jpg); width: 100%;">
                        <iframe style=" height:375px; width: 100%; margin: auto; "  src="https://www.youtube.com/embed/OQlVjUqnRkU?t=20&autoplay=true&origin=https://www.youtube.com/watch?v=OQlVjUqnRkU" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay ></iframe>
                    </div>
    			</div>
    			<div class="col-md-6 pl-md-5 ftco-animate">
    				<h2 class="mb-4">NVBA Sarbojanin Durga Utsav </h2>
    				
                    <p>
                        A BIG hello to all of you from the NVBA Executive Committee! Hope you all are doing fine and counting days for Durga Pujo 2022.
                        </p>
                        <p>
            
                        We are extremely thrilled to announce our international artists who will be illuminating the stage this Durga Pujo. We bring to you some of the biggest and most happening artists among today’s Bengali music lovers. To enthrall you all, we have an assortment of artists that range from Bangla Band music to Classical/Semi-Classical melodies to Modern Bengali and Bollywood music.
                        </p>
                        <p>
                          <b>Chandrabindoo:</b> The band that rules every Bengali’s heart and soul will steal your heart again on Friday, September 30.
                        </p>
                        <p>
                          <b>Sourendro-Soumyojit:</b> Sourendro Mullick & Soumyojit Das, the Pianist - Vocalist musician duo has won over hearts across the world by their touching renditions of short classical pieces, semi-classical pieces, ghazals, thumri, new compositions, popular songs, playback songs. The duo composes, performs, and interprets music they believe in, they keep the faith of their connoisseurs, and they worship art. Be prepared to be swept away by their music on Saturday, October 1.
                        </p>
                        <p>
                        <b>Shovan-Trisha:</b> Shovan is the winner of Zee Bangla Sa Re Ga Ma Pa and Trisha is a household name today in India, performing many of the foot-tapping Bengali and Bollywood peppy numbers. They will team up to mesmerize you with an incredible musical night (Sunday, October 2) to remember for years to come.
                        </p>
    			</div>
    		</div>
    	</div>
    </section>


    <section class="ftco-section">
    	<div class="container">
    		<div class="row d-flex">
                <app-cartmember></app-cartmember>
            </div>
        </div>
    </section>            

</div>
