<div class="wrapper"  >

    <audio #playA id="myAudio"  loop onload="soundplay()" >
      <source src="https://dhrubajyoti.com/nvba/media/durga.mp3" type="audio/mpeg" autoplay play loop onload="soundplay()" >
      <!-- <source src="./../../../assets/media/durga.mp3" type="audio/mpeg" autoplay loop onload="soundplay()" > -->
      Your browser does not support the audio element.
    </audio>
     <div style="width: 100%; max-height: 500px; display: flex; align-items: center;
     justify-content: center;  "  >
      <img src="./../../../../assets/images/stocks/2023/durga-ascha.jpg" style="max-width: 100%; max-height: 500px;  "  >
     </div>
      <!-- <div class="hero-wrap" style="background-image: url('./../../../../assets/images/gallery/dp/durgapuja-2022-2.jpg'); filter: grayscale(100%) opacity(50%) " data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
            <div class="container">
              <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
                  <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
                  <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a routerLink="/home">Home</a></span> <span>Durgotsob</span></p>
                  <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">NVBA Sarbojanin Durgotsob</h1>
                  </div>
              </div>
            </div>
      </div>  -->
  
  
  
    <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"  >
      <div class="carousel-inner"   >
         <div class="carousel-item" *ngFor="let itemhi of sliderImage; let i = index" [ngClass]=" i === 0 ? 'active':'' " >
          <img class="d-block w-100" src="{{itemhi.imageLink}}" alt="First slide"  >
        </div> 
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>  -->
  
      <div>
  
        <!-- Audio play
        <div style="z-index: 2000; position: absolute; top: 80px; right: 20px; cursor: pointer;"  >
          <i id="play-pause-button" class="icon " [ngClass]="playAudio?'icon-play-circle':'icon-pause-circle' "  (click)="soundplay()" ></i>
        </div> -->
        
        <!-- Slide Show Start
        <div style="width: 100vw; height: 80vh; " >
          <div style="width: 100%; height: 100%; "  class="cb-slideshow-overlay" >
              <ul class="cb-slideshow">
                  <li><span></span><div><h3>Ya devi sarva bhutesu vishnu mayeti sabdita</h3></div></li>
                  <li><span></span><div><h3>Namas thasyai namas thasyai namas thasyai namo namah</h3></div></li>
                  <li><span></span><div><h3>Ya devi sarva bhutesu chetanety abhidhiyathe</h3></div></li>
                  <li><span></span><div><h3>Namas thasyai namas thasyai namas thasyai namo namah</h3></div></li>
                  <li><span></span><div><h3>Ya devi sarva bhutesu buddhi rupena samsthitha</h3></div></li>
                  <li><span></span><div><h3>Namas thasyai namas thasyai namas thasyai namo namah</h3></div></li>
              </ul>
          </div>
        </div>   -->
    
      <section>
        <div class="container mb-3">
          <!-- <div class="row d-flex mb-3"> 
            <div class="flex-center text-center mt-3 ">
              <h3 class="text-center">মহালয়া | Mahalaya (Mahishasura Mardini) | Birendra Krishna Bhadra</h3>
            </div>
            <audio controls autoplay play onload="play" >
              <source src="https://dhrubajyoti.com/nvba/media/mahalaya.mp3" type="audio/mpeg">
            Your browser does not support the audio element. 
            </audio>
          </div> -->
          <div class="row d-flex mb-3"> 
            <div class="flex-center text-center mt-3 ">
              <h3 class="text-center">NVBA Durgotsob 2023  </h3>
              
              <div>
                <h5>Cultural participation entries are now open.</h5>
                <p>
                  <a target="_blank" href="https://forms.gle/xj6RekTb4s47ynDG7" >To participate, please submit your entry via this form before September 15th, 2023.</a>
                </p>
              </div>
              <div>
                <h5>Be our sponsor.</h5>
                <p>
                  <a target="_blank" href="https://mailchi.mp/novaba.org/durga-pujo-2023-inviting-sponsors-few-more-days-to-go?fbclid=IwAR1Jm9OUXQ3ZlIVSyYXUrlLu9BekR0KOJ73Q0FX3lQhTIdzXrw2Zcmbx-MA" > Please click for details.</a>
                </p>
              </div>
                  
              <div>
                <p>
                  Durga Puja, the most anticipated festival of the year, symbolizes the triumph of good over evil and the power of the divine goddess Durga. It is a time of joy, devotion, cultural revelry, and spiritual enlightenment. Our organization, NVBA, has been tirelessly working towards creating a vibrant and inclusive environment for our Bengali community. We strive to preserve our traditions, foster unity, and promote cultural exchange.
                </p>
                <p>
                  During the event, you can expect a grand celebration featuring captivating rituals, enchanting cultural performances, artistic displays, and mouth-watering Bengali cuisine. Our dedicated team has curated a series of programs and activities suitable for all age groups, ensuring a memorable experience for everyone. From traditional music and dance performances to vibrant decorations and mesmerizing idol artistry, we have planned an event that will leave you enthralled.
                </p>
                <p>  
                  This year, we aim to make Durga Puja 2023 an occasion of togetherness and solidarity, fostering a sense of community among Bengalis near and far. We wholeheartedly invite you and your family to be a part of this joyous celebration. Come, join us in paying homage to the goddess Durga, seeking her blessings, and immersing yourself in the vibrant colors and melodies of our rich cultural heritage.
                </p>
                <p>
                  We request you to mark your calendars and spread the word among your friends and relatives. Together, let us make Durga Puja 2023 a resounding success and a cherished memory for years to come.
                </p> 
              </div>

                  
                  
                  <h5>Lots of activities planning going on</h5>
              
                <h2 class="mb-4 ">Venue:  </h2>
                  <div class="" >
                    <p>TBD
                      <!-- Freedom High School, <br /> 25450 Riding Center Dr, <br /> Chantilly, VA 20152<br /><br />  -->
                    </p>  
                    <h2 class="mb-4 ">Timings: </h2>
                    <p>
                    October 20th - 6 pm to 10 pm. <br>
                    October 21st and 22nd - 9am to 10 pm.
                    </p>
                  </div>
              
            </div>
            <!-- <div class="flex-center text-center mt-3 table ">
              <div>Sign up sheets for,</div>
              <div class="row flex-center text-center m-1 "  >
                <table class=" borderless col-md-6 " style=" margin:0 auto" id="activities"  >
                  <tr>
                    <td>
                      Art Competition:
                    </td>
                    <td>
                      N/A
                      <a href="https://forms.gle/XVQUwM2VEkAXFJng6" target="_blank" > Click for register </a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Alpona Competition:
                    </td>
                    <td>
                      On-site Registration at Front desk. <br />
  Event timing: Sunday, October 2nd, 12pm - 1pm
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Extempore Competetion:
                    </td>
                    <td>
                      N/A
                     <a href="https://forms.gle/9CMhrLzzNMWP83eb8" target="_blank">Click for register</a> 
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Carrom Competition: 
                    </td>
                    <td>
                      On-site Registration at Front desk. <br />
  Event timing: Sunday, October 2nd, 3pm - 5pm
                    </td>
                  </tr>
                </table>
              </div>
              
            </div> -->
          </div>
        </div>
      </section>
  
  
      <section class="ftco-section">
          <div class="container">
          
           
          
              
  
  
          </div>
      </section>
  
      
  
        <!-- <section class="ftco-section">
          <div class="container">
            <div class="row d-flex">
              <app-cartmember></app-cartmember>
            </div>
          </div>
        </section>         -->
      
      </div>
  
  </div>
  
