
    <footer class="ftco-footer ftco-section img">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <p>NVBA is a 100% volunteer driven 501(c)3 organization. The success of our community depends on the sincere effort by our volunteers. Please participate with full enthusiasm and you will find a place to belong. </p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <!-- <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li> -->
                <li class="ftco-animate"><a href="https://www.facebook.com/novaba" target="_blank" ><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" target="_blank" ><span class="icon-youtube"></span></a></li>
                <!-- <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li> -->
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Our Newsletter</h2>
              <p>The best way to keep in touch with your local bengali community is through the NVBA newsletter. Please provide your email for subscription.</p>
              <a href="https://novaba.us5.list-manage.com/subscribe?u=71b8b228056801a92f04f6000&id=172a06829e" class=" btn btn-white px-3 py-2 mt-2" target="_blank" >Subscribe</a>
              
            </div>
          </div>
          <div class="col-md-2">
             <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Site Links</h2>
              <ul class="list-unstyled">
                <li *ngFor="let link of siteLinks" >
                  <a href="{{link.pageLink}}" class="py-2 d-block">{{link.pageName}}</a>
                  <!-- <ul >
                    <li *ngFor="let linkc of link.child"  >
                      <a href="{{linkc.pageLink}}" class="py-2 d-block">{{linkc.pageName}}</a>
                    </li>
                  </ul> -->
                </li>
                
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">45560 Mallard Point Terrace<br>
                    Sterling, VA 20165 <br>
                    United States <br></span></li>
	                <li><a href="tel:+15124129841" target="_blank"><span class="icon icon-phone"></span><span class="text">+1 (512) 412-9841</span></a></li>
	                <li><a href="mailto:novabacommittee@yahoo.com" target="_blank" ><span class="icon icon-envelope"></span><span class="text">novabacommittee@yahoo.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made by <a href="https://dhrubajyoti.com" target="_blank">dhrubajyoti</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    